<div class="icon">
  <ion-icon name="chevron-back-circle-outline" size="large" (click)="voltarParaIdade()"></ion-icon>
</div>
<ion-content class="principal">
  <ion-img src="https://bit.ly/dan-abramov"></ion-img><br><br>
</ion-content>
<div class="meio-baixo">
  <label id="txtNome">Nome</label><br>
  <input type="text" placeholder="Digite seu nome aqui:" id="txtNome"><br><br>
  <label id="txtSobreNome">Sobrenome</label><br>
  <input type="text" placeholder="Digite seu sobrenome aqui:" id="txtEmail"><br><br>
  <label id="txtEmail">Email</label><br>
  <input type="text" placeholder="Digite seu email aqui:" id="txtEmail">
  <ion-button ></ion-button>
</div>
